pymongo
langchain
langchain-community
langchain-core
sentence-transformers
chromadb
pypdf
python-dotenv
numpy
langchain-huggingface
fastapi
python-jose[cryptography]>=3.3.0
python-multipart
uvicorn
faiss-cpu